* {
  margin: 0;
  padding: 0;
}

.divform {
  background-color: rgb(113, 217, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form.login {
  background-color: rgb(52, 106, 124);
  border: 25px solid rgb(119, 234, 238);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  margin-top: -10vh;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.login input {
  border-radius: 15px;
  margin-top: 5px;
  margin: 10px;
  height: 35px;
}

.login button {
  background-color: rgba(1,36,45,0.5);
  color: white;
  width: 170px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  transition-duration: 0.4s;
}

.login button:hover {
  background-color: rgb(119,234,238);
  color: rgb(0, 0, 0);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}